<ul class="Linklist Linklist--padded Treeview js-fr-treeview u-text-r-xs">
    <li><a href="/">Home</a></li>
    <li><a href="/richiedi-spid">Richiedi SPID</a></li>
    <li><a href="/servizi">Dove puoi usare SPID</a></li>
    <li><a href="/domande-frequenti">Domande frequenti</a></li>
    <li><a href="/serve-aiuto">Serve aiuto?</a></li>
    <li><a href="/sei-una-pubblica-amministrazione">Sei una pubblica amministrazione&nbsp;?</a></li>
    <li><a href="/press-area">Press area</a></li>
</ul>
