
<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% cssFiles.forEach(function(cssFile) { %>
  <link media="all" rel="stylesheet" href="/assets/css/<%= cssFile.file %>">
  <% }); %>
  <title>SPID - Sistema Pubblico di Identità Digitale - <%= pageTitle %></title>
</head>

<body class="Pac">

  <ul class="Skiplinks js-fr-bypasslinks">
    <li><a accesskey="2" href="#main">Vai al Contenuto</a></li>
    <li><a accesskey="3" href="#menu">Vai alla navigazione del sito</a></li>
</ul>

<header class="Header Headroom--fixed" style="z-index:999">
    <div class="Header-banner Headroom-hideme">
        <div class="Header-owner">
            <a href="http://www.agid.gov.it" target="blank_">Agenzia per l'Italia Digitale</a>
        </div>
    </div>
    <div class="Header-navbar Grid Grid--alignMiddle">
        <a class="Hamburger-toggleContainer Header-toggle Grid-cell js-fr-offcanvas-open" aria-controls="menu" aria-label="accedi al menu" title="navigazione" href="#">
            <span class="Hamburger-toggle"></span>
            <p class="Header-toggleText">Menu</p>
        </a>
        <div class="Header-title">
            <div class="Header-logo">
                <a href="/" tabindex="-1">
                    <img id="spid-logo" src="assets/img/spid-ico-circle-bb.svg" alt="SPID" />
                </a>
            </div>
            <h1 class="Header-titleLink">
                <a accesskey="1" href="/">
                    SPID<br>
                  <small>Sistema Pubblico di Identità Digitale</small>
                </a>
            </h1>
        </div>
        <div class="Header-utils" id="header-utils">
            <div class="Header-social">
                <p>Seguici su:</p>
                <ul class="Header-socialIcons">
                    <li><a href="https://www.facebook.com/groups/agid.spid/"><span class="icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="u-textCenter Headroom-hideme">
        <nav class="Megamenu Megamenu--styled js-megamenu">
            <ul class="Megamenu-list">
                <li class="Megamenu-item">
                    <a href="/richiedi-spid">Richiedi SPID <span class="MegamenuHover MegamenuHoverFixed"></span></a>
                </li>
                <li class="Megamenu-item">
                    <a href="/cerca">Cerca servizi <span class="MegamenuHover"></span></a>
                </li>
                <li class="Megamenu-item">
                    <a href="/faq">FAQ <span class="MegamenuHover"></span></a>
                </li>
                <li class="Megamenu-item">
                    <a href="/serve-aiuto">Serve aiuto? <span class="MegamenuHover"></span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="Offcanvas Offcanvas--left Offcanvas--modal js-fr-offcanvas" id="menu">
    <div class="Offcanvas-content u-background-white">
        <div class="Offcanvas-toggleContainer u-padding-bottom-l u-background-70">
            <button class="Hamburger-toggleContainer u-block u-color-white u-padding-left-s u-padding-top-xxl js-fr-offcanvas-close" aria-controls="menu" aria-label="chiudi il menu" title="esci dalla navigazione">
        <span class="Hamburger-toggle is-active">
        </span>
      </button>
        </div>
        <nav>
            <ul class="Linklist Treeview js-fr-treeview u-layout-prose u-text-r-xs">
                <li><a href="/">SPID</a></li>
                <li><a href="/richiedi-spid">Richiedi SPID</a></li>
                <li><a href="/cerca">Cerca servizi</a></li>
                <li><a href="/faq">Faq</a></li>
                <li><a href="/serve-aiuto">Serve aiuto?</a></li>
                <li><a href="/sei-una-pubblica-amministrazione">Sei una pubblica amministrazione?</a></li>
            </ul>
        </nav>
    </div>
</div>
