<div class="u-padding-r-top">
    <div class="u-layout-medium u-layoutCenter u-margin-bottom-xxl u-layout-withGutter">
    	<ul class="Breadcrumb u-padding-left-l u-padding-right-l u-margin-bottom-xxl">
			<li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">Home</a></li>
			<li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/servizi">Cerca servizi</a></li>
      <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/cerca-pa">Cerca amministrazioni</a></li>
			<li class="Breadcrumb-item">Elenco servizi PA</a></li>
		</ul>
        <section class="u-sizeFull u-padding-left-l u-padding-right-l u-margin-bottom-xxs">
            <h2 class="u-text-h2">Elenco servizi online</h2>
        </section>
    	<section class="u-padding-bottom-l u-padding-left-l u-padding-right-l">
            <h4 class="u-text-h4">
                {{serviceProvider}}
            </h4>
        </section>
        {{#compare totalServices ">" 16}}
    	<form class="controls" id="Filters">
        <section class="Grid u-padding-bottom-l">
        	<div class="Grid-cell u-sizeFull u-md-size2of3 u-lg-size2of3 u-padding-left-l u-padding-right-l">
        		<fieldset>
	        		<label class="Form-label" for="services-pa-full-search">Ricerca libera</label>
	        		<input type="text" id="services-pa-full-search" class="Form-input">
	        	</fieldset>
        	</div>
        	<div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-padding-left-l u-padding-right-l u-padding-top-l"></div>
        	<div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-padding-left-l u-padding-right-l u-padding-top-l">
  				<fieldset>
			   		<label class="Form-label" for="services-pa-theme">Tema</label>
			    	<select class="Form-input" id="services-pa-theme">
			    		<option value="">Tutte</option>
						<option value="AGRI">Agricoltura, pesca, silvicoltura e prodotti alimentari</option>
						<option value="ECON">Economia e finanze</option>
						<option value="EDUC">Istruzione, cultura e sport</option>
						<option value="ENER">Energia</option>
						<option value="ENVI">Ambiente</option>
						<option value="GOVE">Governo e settore pubblico</option>
						<option value="HEAL">Salute</option>
						<option value="INTR">Tematiche internazionali</option>
						<option value="JUST">Giustizia, sistema giuridico e sicurezza pubblica</option>
						<option value="REGI">Regioni e città</option>
						<option value="SOCI">Popolazione e società</option>
						<option value="TECH">Scienza e tecnologia</option>
						<option value="TRAN">Trasporti</option>
			    	</select>
			  	</fieldset>
			</div>
        	<div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-padding-left-l u-padding-right-l u-padding-top-l">
  				<fieldset>
			   		<label class="Form-label" for="services-pa-subtheme">Sottotema</label>
			    	<select class="Form-input" id="services-pa-subtheme">
			    		<option value="">Tutte</option>
						<option value="INPS">Servizi INPS</option>
						<option value="CERT">Servizi di Certificazione e Autocertificazione</option>
						<option value="PAGA">Servizi di pagamento, controllo pagamenti, tasse e tributi</option>
						<option value="DOCS">Invio e richiesta documenti</option>
						<option value="DIPA">Servizi per dipendenti pubblici</option>
						<option value="ANAG">Anagrafe</option>
						<option value="SCUN">Servizi Scuola e Università</option>
						<option value="SECO">Servizi di connettività pubblica</option>
						<option value="SUAP">SUAP Sportello Unico Attività Produttive</option>
						<option value="INAI">Servizi INAIL</option>
						<option value="RIPR">Richieste e prenotazioni</option>
						<option value="VICO">Visure, controllo e consultazione dati</option>
						<option value="SESA">Servizi Sanitari</option>
						<option value="FAEL">Fatturazione elettronica</option>
						<option value="FSAE">Fascicolo Sanitario Elettronico</option>
						<option value="FINA">Finanziamenti</option>
						<option value="EDIL">Edilizia</option>
						<option value="SESO">Servizi Sociali e della Comunità</option>
						<option value="NOTI">Servizi di avvisi e notifiche</option>
						<option value="MULT">Servizi Audio, Video e Multimediali</option>
						<option value="POCI">Portali del cittadino</option>
						<option value="ISCR">Iscrizione a servizi</option>
						<option value="FAMI">Servizi per le famiglie</option>
						<option value="VIAB">Servizi per la viabilità</option>
						<option value="UTIL">Utilità</option>
			    	</select>
			  	</fieldset>
			</div>
			<div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-padding-left-l u-padding-right-l u-padding-top-l">
  				<fieldset>
			   		<label class="Form-label" for="services-pa-spidlevel">Livello SPID</label>
			    	<select class="Form-input" id="services-pa-spidlevel">
			    		<option value="">Tutte</option>
						<option value="1">Livello 1</option>
						<option value="2">Livello 2</option>
						<option value="3">Livello 3</option>
			    	</select>
			  	</fieldset>
			</div>
		</section>
		</form>
		{{/compare}}
		<section class="u-sizeFull u-padding-left-l u-padding-right-l">
	       	<div id="service-provider-id" serviceProviderId="{{serviceProviderId}}" style="display: none;"></div>
	     	<table id="spidServicesSp" class="display" style="display: none;" cellspacing="0" width="100%"><thead><tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr></thead></table>
	    </section>
		<section id="servizi-pa" class="Grid Grid--withGutter"></section>
    </div>
</div>
