<div class="u-padding-r-top">
    <div class="u-layout-medium u-layoutCenter u-margin-bottom-xxl u-layout-withGutter">
        <!-- <ul class="Breadcrumb u-padding-left-l u-padding-right-l u-margin-bottom-xxl">
            <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">Home</a></li>
            <li class="Breadcrumb-item">Domande frequenti</li>
        </ul> -->
        <section class="u-margin-top-xxl u-padding-left-l u-padding-right-l">
            <h2 class="u-text-h2 u-margin-bottom-xxs">FAQ – Domande frequenti</h2>
                <div class="Accordion fr-accordion js-fr-accordion" id="accordion-1">
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-1">
                        <span id="faq-1"></span>
                        <span class="Accordion-link u-lineHeight-l ">Cos’è SPID?</span>
                    </h2>
                    <div id="accordion-panel-1" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s u-layout-prose">
                            SPID è il sistema di autenticazione che permette a cittadini ed imprese di accedere ai servizi online della pubblica amministrazione e dei privati aderenti con un’identità digitale unica. L’identità SPID è costituita da credenziali (nome utente e password) che vengono rilasciate all’utente e che permettono l’accesso a tutti i servizi online.
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-2">
                        <span id="faq-2"></span>
                        <span class="Accordion-link u-lineHeight-l ">Quali documenti mi servono per poter richiedere SPID?</span>
                    </h2>
                    <div id="accordion-panel-2" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s faq-text u-layout-prose">
                            Per richiedere e ottenere le tue credenziali SPID hai bisogno di: un documento di identità valido (carta di identità o passaporto) e la tua tessera sanitaria. Ti servirà anche: un indirizzo e-mail e il numero di telefono del cellulare che usi normalmente (anche se non sei tu l’intestatario del contratto).
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-3">
                        <span id="faq-3"></span>
                        <span class="Accordion-link u-lineHeight-l ">A chi mi devo rivolgere e cosa devo fare per ottenere SPID?</span>
                    </h2>
                    <div id="accordion-panel-3" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s faq-text u-layout-prose">
                            Per ottenere le tue credenziali SPID devi rivolgerti a Aruba, Infocert, Intesa, Namirial, Poste, Register, Sielte o Tim. Questi soggetti (detti identity provider) ti offrono diverse modalità per richiedere e ottenere SPID, puoi scegliere quella più adatta alle tue esigenze.
                            Tutte le informazioni su dove e come chiedere le tue credenziali SPID sul sito <a href="http://www.spid.gov.it/richiedi-spid">spid.gov.it/richiedi-spid</a>.
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-4">
                        <span id="faq-4"></span>
                        <span class="Accordion-link u-lineHeight-l ">SPID è gratuito?</span>
                    </h2>
                    <div id="accordion-panel-4" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s faq-text u-layout-prose">
                            Si, puoi richiedere gratuitamente le tue credenziali SPID a uno dei soggetti abilitati (Aruba, Infocert, Intesa, Namirial, Poste, Register, Sielte e Tim).<br>
                            Aruba, Infocert, Poste e Tim oltre alla modalità di erogazione gratuita, offrono anche modalità di registrazione a pagamento.
                            Tutte le informazioni su dove e come chiedere le tue credenziali SPID sul sito <a href="http://www.spid.gov.it/richiedi-spid">spid.gov.it/richiedi-spid</a>.
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-5">
                        <span id="faq-5"></span>
                        <span class="Accordion-link u-lineHeight-l ">Esistono anche altre modalità per ottenere SPID?</span>
                    </h2>
                    <div id="accordion-panel-5" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s faq-text u-layout-prose">
                            Si, esiste anche un’altra modalità che prevede l’utilizzo di firma digitale, carta d’identità elettronica (CIE) o carta nazionale dei servizi (CNS) Ricorda che in questo hai bisogno di un lettore di smart card da collegare al computer e che la CIE e la CNS devono essere preventivamente abilitate per l’utilizzo dei servizi online.<br>
                            Se sei in possesso di CIE, CNS o firma digitale puoi completare la procedura online con Aruba, Infocert, Poste Italiane, Sielte e Tim. Se disponi di CNS o firma digitale puoi scegliere anche tra Namirial e Register. Se disponi di firma digitale puoi scegliere Intesa.
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-6">
                        <span id="faq-6"></span>
                        <span class="Accordion-link u-lineHeight-l ">Ci sono differenze tra i soggetti a cui posso decidere di richiedere SPID?</span>
                    </h2>
                    <div id="accordion-panel-6" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s faq-text u-layout-prose">
                            Le credenziali SPID rilasciate da Aruba, Infocert, Intesa, Namirial, Poste, Register, Sielte e Tim sono uguali. Puoi scegliere liberamente il soggetto che ti permette di completare la procedura di registrazione in maniera per te più semplice. Ad esempio verifica qual è l’ufficio per il completamento della registrazione più vicino a casa tua così potrai risparmiare tempo.
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-7">
                        <span id="faq-7"></span>
                        <span class="Accordion-link u-lineHeight-l ">Chi può richiedere SPID?</span>
                    </h2>
                    <div id="accordion-panel-7" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s faq-text u-layout-prose">
                            SPID può essere richiesto da tutti i cittadini italiani - o dotati di permesso di soggiorno e residenti in Italia - che abbiano compiuto il 18°anno di età.<br>
                            Solo dal giorno del tuo diciottesimo compleanno è possibile richiedere le credenziali SPID.
                        </p>
                    </div>

                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-8">
                        <span id="faq-8"></span>
                        <span class="Accordion-link u-lineHeight-l ">Può avere SPID anche un cittadino italiano residente all’estero?</span>
                    </h2>
                    <div id="accordion-panel-8" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s faq-text u-layout-prose">
                            Anche i cittadini italiani residenti all’estero possono ottenere l’identità digitale SPID purché abbiano a disposizione i documenti necessari per la registrazione: tessera sanitaria con codice fiscale e un documento d’identità valido (uno tra carta d’identità o passaporto). In assenza della tessera sanitaria, si potrà esibire il tesserino del codice fiscale (quello che nel retro riporta il “Numero di identificazione della tessera”) o, se sprovvisti di codice fiscale, se ne potrà fare richiesta all’Agenzia delle Entrate per il tramite dell’Ufficio consolare di riferimento (per maggiori informazioni: <a href="http://www.esteri.it/mae/it/italiani_nel_mondo/serviziconsolari/codice_fiscale.html">http://www.esteri.it/mae/it/italiani_nel_mondo/serviziconsolari/codice_fiscale.html</a> ). Farà in tal caso fede il certificato prodotto dall’Agenzia delle Entrate contenente il codice fiscale, vidimato dall’Ufficio consolare.
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-9">
                        <span id="faq-9"></span>
                        <span class="Accordion-link u-lineHeight-l ">Come vengono trattati i dati che fornisco per richiedere SPID?</span>
                    </h2>
                    <div id="accordion-panel-9" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s faq-text u-layout-prose">
                            I dati personali che comunicherai a Aruba, Infocert, Intesa, Namirial, Poste, Register, Sielte o Tim per richiedere SPID, non verranno utilizzati a scopo commerciale.<br>
                            Gli Identity Provider non possono utilizzare i dati personali dell’utente né cederli a terze parti senza autorizzazione da parte dell’utente stesso. Al momento della registrazione dovranno essere esplicitamente distinti i dati necessari all’ottenimento dell’identità digitale SPID dalle ulteriori informazioni - non obbligatorie - che il gestore di identità potrà eventualmente richiedere. L’Agenzia per l’Italia Digitale vigila sul rispetto delle norme in collaborazione con il Garante per la Privacy, sia per ciò che concerne l’attività degli identity provider, sia per quanto riguarda i servizi messi a disposizione da pubbliche amministrazioni e privati.<br>
                            Con SPID la tua privacy è totalmente garantita.
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-10">
                        <span id="faq-10"></span>
                        <span class="Accordion-link u-lineHeight-l ">Ho perso le mie credenziali SPID, cosa devo fare per farmele rimandare?</span>
                    </h2>
                    <div id="accordion-panel-10" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s faq-text u-layout-prose">
                            Non ti preoccupare, è sempre possibile recuperare le tue credenziali.<br><br>
                            - Se hai richiesto SPID a <strong>Aruba</strong>, segui la procedura di recupero qui: <a href="http://guide.pec.it/spid/recupero-dati/procedure-di-recupero-dati-smarriti.aspx" target="blank_">http://guide.pec.it/spid/recupero-dati/procedure-di-recupero-dati-smarriti.aspx</a>
                            <br><br>
                            - Se hai richiesto SPID a <strong>Infocert</strong> segui la procedura di recupero qui: <a href="https://my.infocert.it/selfcare/#/recoveryPin" target="blank_">https://my.infocert.it/selfcare/#/recoveryPin</a>
                            <br><br>
                            - Se hai richiesto SPID a <strong>Namirial</strong> segui la procedura di recupero qui: <a href="https://portale.namirialtsp.com/private/user/spid_reset.php">https://portale.namirialtsp.com/private/user/spid_reset.php</a>
                            <br><br>                            
                            - Se hai richiesto SPID a <strong>Poste</strong> segui la procedura di recupero qui:
                            <a href="https://posteid.poste.it/recuperocredenziali.shtml" target="blank_">https://posteid.poste.it/recuperocredenziali.shtml</a>
                            <br><br>
                            - Se hai richiesto SPID a <strong>Register</strong> segui la procedura di recupero qui:<br>
                            (username dimenticata) <a href="https://spid.register.it/selfcare/recovery/username" target="blank_">https://spid.register.it/selfcare/recovery/username</a><br>
                            (password dimenticata) <a href="https://spid.register.it/selfcare/recovery/password" target="blank_">https://spid.register.it/selfcare/recovery/password</a>
                            <br><br>                            
                            - Se hai richiesto SPID a <strong>Sielte</strong> segui la procedura di recupero qui:<br>
                            (username dimenticata) <a href="https://myid.sieltecloud.it/profile/forgotUsername" target="blank_">https://myid.sieltecloud.it/profile/forgotUsername</a><br>
                            (password dimenticata) <a href="https://myid.sieltecloud.it/profile/forgotPassword" target="blank_">https://myid.sieltecloud.it/profile/forgotPassword</a>
                            <br><br>
                            - Se hai richiesto SPID a <strong>Tim</strong> segui la procedura di recupero qui:
                            (username dimenticata) <a href="https://login.id.tim.it/iam/im/spidpub/ui7/index.jsp?task.tag=ForgottenUserid" target="blank_">https://login.id.tim.it/iam/im/spidpub/ui7/index.jsp?task.tag=ForgottenUserid</a><br>
                            (password dimenticata)   <a href="https://login.id.tim.it/iam/im/spidpub/ui7/index.jsp?task.tag=ForgottenPassword" target="blank_">https://login.id.tim.it/iam/im/spidpub/ui7/index.jsp?task.tag=ForgottenPassword</a>
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-11">
                        <span id="faq-11"></span>
                        <span class="Accordion-link u-lineHeight-l ">
                            In futuro potranno esserci altri gestori di identità?
                        </span>
                    </h2>
                    <div id="accordion-panel-11" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s u-layout-prose">
                            Si, qualunque soggetto in possesso dei requisiti previsti dalle norme può fare richiesta di accreditamento all’Agenzia per l’Italia Digitale.
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-12">
                        <span id="faq-12"></span>
                        <span class="Accordion-link u-lineHeight-l ">
                            Che differenze ci sono fra i tre livelli di sicurezza delle credenziali SPID?
                        </span>
                    </h2>
                    <div id="accordion-panel-12" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s u-layout-prose">
                            - Il primo livello permette di accedere ai servizi online attraverso un nome utente e una password scelti dall’utente.<br>
                            - Il secondo livello – necessario per servizi che richiedono un grado di sicurezza maggiore - permette l’accesso attraverso un nome utente e una password scelti dall’utente, più la generazione di un codice temporaneo di accesso (one time password).<br>
                            - Il terzo livello, oltre al nome utente e la password, richiede un supporto fisico (es. smart card) per l’identificazione.
                        </p>
                    </div>

                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-13">
                        <span id="faq-13"></span>
                        <span class="Accordion-link u-lineHeight-l ">
                          Posso annullare la richiesta dell’identità ad un identity provider e sceglierne un altro ?
                        </span>
                    </h2>
                    <div id="accordion-panel-13" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s u-layout-prose">
                          Si, in ogni momento è possibile annullare la procedura di registrazione avviata con ciascun gestore d’identità senza alcun tipo di obbligo o conseguenza. Per avere indicazioni specifiche sulla procedura da seguire puoi contattare i singoli gestori di identità. In ogni caso, puoi richiedere la tua identità digitale a un altro operatore anche senza aspettare l’annullamento della registrazione precedente.
                        </p>
                    </div>

                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-14">
                        <span id="faq-14"></span>
                        <span class="Accordion-link u-lineHeight-l ">
                            &Egrave; possibile avere più di una identità digitale?
                        </span>
                    </h2>
                    <div id="accordion-panel-14" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s u-layout-prose">
                            Sì, è possibile richiedere più di una identità digitale – anche con diversi livelli di sicurezza – con l’opportunità di rivolgersi a differenti gestori di identità digitale. Ogni cittadino è libero di scegliere l’identity provider che preferisce.
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-15">
                        <span id="faq-15"></span>
                        <span class="Accordion-link u-lineHeight-l ">
                          Una società può ottenere SPID ?
                        </span>
                    </h2>
                    <div id="accordion-panel-15" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s u-layout-prose">
                          Al momento il responsabile legale della società può richiedere e utilizzare la propria identità digitale per accedere e utilizzare i servizi online dedicati all’impresa.
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-16">
                        <span id="faq-16"></span>
                        <span class="Accordion-link u-lineHeight-l ">
                            Tutte le amministrazioni consentiranno l’accesso ai propri servizi tramite SPID?
                        </span>
                    </h2>
                    <div id="accordion-panel-16" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s u-layout-prose">
                            Si, l’adesione dell’intera pubblica amministrazione a SPID dovrà avvenire entro il 2017.
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-17">
                        <span id="faq-17"></span>
                        <span class="Accordion-link u-lineHeight-l ">
                            Qual è la differenza tra SPID e la Carta Nazionale dei Servizi?
                        </span>
                    </h2>
                    <div id="accordion-panel-17" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s u-layout-prose">
                            I due strumenti hanno usi e scopi in parte diversi e in questa prima fase di implementazione del sistema SPID coesisteranno.<br>
                            A differenza della Carta Nazionale dei Servizi - che non è completamente dematerializzata - per l’uso dell’identità SPID non è necessario alcun lettore di carte e può essere utilizzata in diverse modalità (da computer fisso o da mobile).
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-18">
                        <span id="faq-18"></span>
                        <span class="u-lineHeight-l Accordion-link u-layout-prose">
                            I cittadini che già hanno strumenti di accesso ai servizi della PA (Carta Nazionale dei Servizi,
                            registrazioni presso singoli siti, ...) potranno utilizzare ancora questi strumenti una volta ricevuto SPID?
                        </span>
                    </h2>
                    <div id="accordion-panel-18" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s u-layout-prose">
                            Nella prima fase di avvio del sistema pubblico di identità digitale la necessità è quella di far coesistere il sistema di autenticazione tramite SPID con quelli già esistenti.<br>
                            La progressiva implementazione del sistema da parte della pubblica amministrazione (che durerà 24 mesi) farà si che tutti i servizi online siano accessibili tramite SPID.
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-19">
                        <span id="faq-19"></span>
                        <span class="u-lineHeight-l Accordion-link u-layout-prose">
                            In questa lista di "domande frequenti" non ho trovato la risposta al mio quesito
                        </span>
                    </h2>
                    <div id="accordion-panel-19" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s u-layout-prose">
                            Se hai già cominciato la procedura di richiesta delle credenziali SPID e hai un problema specifico con Aruba, Infocert, Intesa, Namirial, Poste, Register, Sielte o Tim puoi rivolgerti ai call center dell’identity provider che hai scelto. Qui trovi i numeri: <a href="http://www.spid.gov.it/serve-aiuto">www.spid.gov.it/serve-aiuto</a>.<br><br>
                            Per domande generiche o assistenza sulle modalità di ottenimento di SPID puoi contattare Il  numero 06.82888.736, dal lunedì al venerdì dalle 9:30 alle 16 (Il costo della telefonata è definita in base al piano tariffario applicato dal tuo gestore telefonico)<br>
                            Oppure puoi <a href="http://helpdesk.spid.gov.it/">scriverci</a>, ti risponderemo entro 48 ore.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
