<section class="u-padding-r-top u-layout-medium u-layoutCenter u-layout-withGutter">

    <h2 id="carousel-heading" class="u-hiddenVisually">Infografiche</h2>

    <div class="Grid u-margin-r-top">
        <div class="Grid-cell u-md-size1of12 u-lg-size2of12">
            <button class="owl-prev-1 u-padding-right-xxl u-text-r-xl u-color-teal-70 u-zindex-max" aria-controls="carousel-1">
              <span class="u-hiddenVisually">Vai alla slide precedente</span>
              <span class="u-alignMiddle Icon Icon-chevron-left u-background-white u-padding-all-xs u-borderRadius-circle u-border-all-xxs" role="presentation"></span>
            </button>
        </div>

        <div class="Grid-cell u-md-size10of12 u-lg-size8of12">

          <div id="customDots" class="owl-dots"></div>

            <div class="owl-carousel owl-theme u-textCenter" role="region" id="carousel-1" tabindex="0" style="margin:auto">
                <div class="Carousel-item u-layoutCenter">
                    <div class="u-textLeft">
                        <img src="assets/img/infografiche/info1_numeri.svg" alt="Crescita SPID" />
                        <div class="Prose u-padding-r-top">
                          <h3 class="u-text-h3 u-color-grey-80">Crescita identità SPID</h3>
                          <p class="u-text-p u-color-grey-80">
Grazie alla progressiva diffusione di SPID tra amministrazioni centrali e locali, il numero delle identità erogate è cresciuto da 66.822 a settembre 2016 a oltre 1 milione a gennaio 2017.
                          </p>
                          <h4 class="u-text-h4">Identità Erogate</h4>
                          <ul>
                            <li>Settembre 2016: 66.822</li>
                            <li>Ottobre 2016: 80.706</li>
                            <li>Novembre 2016: 269.278</li>
                            <li>Dicembre 2016: 838.000</li>
                            <li>Gennaio 2017: 1 milione.</li>
                          </ul>
                        </div>
                    </div>
                </div>
                <div class="Carousel-item u-layoutCenter">
                    <div class="u-textLeft">
                        <img src="assets/img/infografiche/info2_amministrazioni.svg" alt="Amministrazioni aderenti" />
                        <div class="Prose u-padding-r-top">
                          <h3 class="u-text-h3 u-color-grey-80">Amministrazioni aderenti a SPID</h3>
                          <p class="u-text-p u-color-grey-80">
                            Fino ad oggi hanno aderito a SPID 3720 amministrazioni tra cui:
                          </p>
                          <ul>
                            <li>10 amministrazioni centrali</li>
                            <li>5 regioni</li>
                            <li>10 comuni di grandi dimensioni</li>
                            <li>3 università</li>
                            <li>Tutte le Camere di Commercio</li>
                          </ul>
                        <p>
                            Tra le amministrazioni centrali hanno aderito a SPID:
                            Inps, Inali, Agenzia delle Entrate, Guardia di Finanza, Miur, Equitalia
                          </p>
                          <p>
                            Tra le amministrazioni locali hanno aderito a SPID 5 regioni italiane: Basilicata, Emilia Romagna, Lombardia, Toscana, Friuli Venezia Giulia
                            Tra i comuni : Roma, Bari, Empoli, Firenze, Lecce, Modena, Verona, Venezia
                          </p>
                        </div>
                    </div>
                </div>
                <div class="Carousel-item u-layoutCenter">
                    <div class="u-textLeft">
                        <img src="assets/img/infografiche/info3_servizi.svg" alt="Amministrazioni locali aderenti SPID" />

                        <div class="Prose u-padding-r-top">
                          <h3 class="u-text-h3 u-color-grey-80">Cosa puoi fare con SPID</h3>
                          <p class="u-text-p u-color-grey-80">
                            Con SPID è possibile accedere a più di 4000 servizi messi a disposizione delle amministrazioni aderenti, ad esempio:
                          </p>
                          <ul>
                            <li>Effettuare direttamente l’iscrizione online dei tuoi figli alle classi prime delle scuole primarie e secondarie di primo e di secondo grado. (dal 16 gennaio 2017)</li>
                            <li>Accedere a tutti i servizi online rivolti al cittadino di Inps</li>
                            <li>Accedere al servizio di fatturazione elettronica verso la PA per le piccole e medie imprese</li>
                            <li>Accedere ai servizi online per gli studenti degli atenei aderenti</li>
                            <li>Utilizzare il wi-fi  nel comune di Venezia, di Verona o negli access point pubblici messi a disposizione in Emilia Romagna e accedere a servizi anagrafici, di pagamento, tributari, socio-sanitari, scolastici</li>
                          </ul>
                        </div>

                    </div>
                </div>
                <div class="Carousel-item u-layoutCenter">
                    <div class="u-textLeft">
                        <img src="assets/img/infografiche/info4_spid_only.svg" alt="Servizi SPID only" />

                        <div class="Prose u-padding-r-top">
                          <h3 class="u-text-h3 u-color-grey-80">Servizi utilizzabili esclusivamente tramite SPID</h3>

                            <h4 class="u-text-h4">18app</h4>
                            <p>da novembre 2016, 267.659 ragazzi utilizzano SPID per accedere a 18app e spendere i 500 euro del bonuscultura</p>

                            <h4 class="u-text-h4">Carta del docente</h4>
                            <p>da dicembre 2016, 218.307 docenti hanno utilizzato SPID per accedere al bonus di 500 euro per l’aggiornamento professionale</p>

                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="Grid-cell u-md-size1of12 u-lg-size2of12">
            <button class="owl-next-1 u-padding-left-xxl u-text-r-xl u-color-teal-70 u-zindex-max" aria-controls="carousel-1">
              <span class="u-hiddenVisually">Vai alla slide successiva</span>
              <span class="u-background-white u-alignMiddle Icon Icon-chevron-right u-padding-all-xs u-borderRadius-circle u-border-all-xxs" role="presentation"></span>
            </button>
        </div>

    </div>

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha256-gL1ibrbVcRIHKlCO5OXOPC/lZz/gpdApgQAzskqqXp8=" crossorigin="anonymous"></script>

<script>
    var opts = {
        owlPrev: '.owl-prev-1',
        owlNext: '.owl-next-1',
        owlItem: '.owl-item',
        jsSelector: '.owl-carousel',
        owlOpts: {
            nav: false,
            // navText: ['precedente', 'successivo'],
            items: 1,
            dots: true,
            loop: false,
            margin: 16,
            mouseDrag: true,
            autoHeight: false,
            dotsContainer: '#customDots',
            URLhashListener: true,
            startPosition: 'URLHash',
            responsive: {
                0: {
                    items: 1
                },
                768: {
                    items: 1
                },
                992: {
                    items: 1
                }
            }
        }
    }

    var init = function() {
        var $owl = $(opts.jsSelector)

        $(opts.owlPrev).click(function() {
            $owl.trigger('prev.owl.carousel')
        })
        $(opts.owlNext).click(function() {
            $owl.trigger('next.owl.carousel')
        })

        $owl.on('initialized.owl.carousel changed.owl.carousel refreshed.owl.carousel', function(event) {
            if (!event.namespace) return

            var carousel = event.relatedTarget,
                element = event.target,
                current = carousel.current()

            $(opts.owlNext + '[aria-controls=' + element.id + ']')
                .toggleClass('u-visibilityHidden', current === carousel.maximum())

            $(opts.owlPrev + '[aria-controls=' + element.id + ']')
                .toggleClass('u-visibilityHidden', current === carousel.minimum())
        })

        // must be called after events initialization
        $owl.owlCarousel(opts.owlOpts)

        new Tether({
          element: '.owl-next-1',
          target: '.owl-carousel',
          attachment: 'middle left',
          targetAttachment: 'middle right',
          targetModifier: 'visible',
          constraints: [
              {
                to: 'window',
                pin: true
              }]
          });

        new Tether({
          element: '.owl-prev-1',
          target: '.owl-carousel',
          attachment: 'middle right',
          targetAttachment: 'middle left',
          targetModifier: 'visible',
          constraints: [
            {
              to: 'window',
              pin: true
            }]
          });

    }

    $(document).ready(init)
</script>
