        <div class="u-padding-r-top">
        	<div class="u-layout-medium u-layoutCenter u-margin-bottom-xxl u-layout-withGutter">
            <!-- <ul class="Breadcrumb u-padding-left-l u-padding-right-l u-margin-bottom-xxl">
                <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">Home</a></li>
                <li class="Breadcrumb-item">Privacy e Note Legali</li>
            </ul> -->
        <section>
            <div class="u-padding-left-l u-padding-right-l">
                <h2 class="u-text-h2 u-margin-bottom-xxs">Privacy e Note Legali</h2>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    Privacy Policy
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    In questa pagina si descrivono le modalità e le logiche del trattamento dei dati personali degli utenti (di seguito, anche gli Utenti) che consultano il sito: www.spid.gov.it (di seguito, anche il Sito).<br>
                    <br>
                    L'informativa è resa ai sensi dell'art. 13 del D. Lgs. n. 196/2003 - Codice in materia di protezione dei dati personali a tutti gli Utenti che, interagendo con il Sito, forniscono all’Agenzia i propri dati personali.<br>
                    <br>
                    La validità dell’informativa contenuta nella presente pagina è limitata al solo Sito e non si estende ad altri siti web eventualmente consultabili mediante collegamento ipertestuale.
                </p>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    Il titolare del trattamento
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    Il Titolare del trattamento per i dati raccolti attraverso il Sito è AgID - Agenzia per l'Italia Digitale, con sede in via Liszt 21 - 00144 Roma, indirizzo email info@agid.gov.it.
                </p>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    Responsabili ed incaricati del trattamento ed ambito di diffusione dei dati
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    L’Ing. Mario Terranova, nella sua qualità di dirigente dell’Area Sistemi e tecnologie, è designato come Responsabile del trattamento ai sensi dell’art. 29 del Codice in materia di protezione dei dati personali; in tale veste l’Ing. Mario Terranova è anche responsabile per il riscontro all’interessato in caso di esercizio dei diritti di cui all’art. 7 del Codice privacy.<br>
                    <br>
                    I dati saranno trattati da personale del Titolare, previa nomina dei dipendenti e dei collaboratori interessati ad Incaricati del trattamento. Eventuali soggetti terzi ai quali i dati potrebbero essere comunicati per l’esecuzione di operazioni di trattamento connesse con le finalità specificate nella presente informativa, saranno preventivamente designati dal Titolare quali Responsabili del trattamento ai sensi dell’art. 29 del Codice in materia di protezione dei dati personali. I dati non formeranno oggetto di diffusione.
                </p>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    Luogo di trattamento dei dati
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    Tutti i dati raccolti saranno trattati presso la sede dell’Agenzia per l'Italia Digitale.
                </p>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    Tipologia di dati trattati e finalità del trattamento
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    Tutti i dati personali forniti attraverso il Sito saranno trattati in modo lecito e secondo correttezza al fine di fornire i servizi richiesti nonché di rispondere alle comunicazioni ed alle domande degli Utenti, sempre nel perseguimento degli scopi istituzionali dell’Agenzia così come previsti dalla Legge.
                </p>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    Cookies
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    I cookies sono piccoli file di testo che i siti visitati inviano al terminale dell'Utente, dove vengono memorizzati, per poi essere ritrasmessi agli stessi siti alla visita successiva.
                </p>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    Il sito utilizza:
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    - cookies analytics utilizzati per raccogliere informazioni, in forma aggregata, sul numero degli Utenti e su come gli stessi visitano il Sito. Il sito SPID si avvale del servizio Google Analytics, la cui cookie policy può essere visionata a questo link (https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage). Al fine di rispettare la privacy dei nostri utenti, il servizio è utilizzato con la modalità “_anonymizeip” che consente di mascherare gli indirizzi IP degli utenti che navigano sul sito internet: maggiori informazioni sulla funzionalità (https://support.google.com/analytics/answer/2763052?hl=it). Il sito raccoglie informazioni sulla navigazione anche attraverso il software open source Piwik (https://piwik.org/) ospitato presso i server dell'Agenzia per l'Italia Digitale. I dati sono raccolti all’unico fine di elaborare informazioni statistiche anonime sull’uso del Sito e per verificare il corretto funzionamento dello stesso; i dati di navigazione potrebbero essere utilizzati in vista dell’identificazione dell’Utente solo nel caso in cui ciò fosse necessario per l’accertamento di reati di natura informatica.
                    I cookies utilizzati dal Sito non consentono la raccolta di informazioni personali relative all’utente e si cancellano automaticamente con la chiusura del browser di navigazione.<br>
                    <br>
                    I dati di navigazione sono cancellati subito dopo la relativa elaborazione statistica e in ogni caso non vengono conservati per oltre 7 giorni dal momento della raccolta, salvo che la loro ulteriore conservazione non si renda necessaria per l’accertamento di reati.<br>
                    <br>
                    I cookies non sono utilizzati per attività di profilazione dell’Utente.<br>
                    <br>
                    L’Utente può scegliere di abilitare o disabilitare i cookies intervenendo sulle impostazioni del proprio browser di navigazione secondo le istruzioni rese disponibili dai relativi fornitori ai link di seguito indicati.<br>
                    <br>
                    <a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=it" target="blank_">Chrome</a><br>
                    <a href="https://support.mozilla.org/it/kb/Attivare%20e%20disattivare%20i%20cookie" target="blank_">Firefox</a><br>
                    <a href="https://support.apple.com/it-it/HT201265" target="blank_">Safari</a><br>
                    <a href="https://support.microsoft.com/it-it/help/17442/windows-internet-explorer-delete-manage-cookies" target="blank_">Internet Explorer</a><br>
                    <a href="http://help.opera.com/Windows/10.00/it/cookies.html" target="blank_">Opera</a>
                </p>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    Modalità del trattamento
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    I dati personali sono trattati con strumenti automatizzati per il tempo strettamente necessario a conseguire gli scopi per cui sono stati raccolti secondo quanto previsto dall’art. 11, lett. e) del Codice privacy. L’Agenzia adotta tutte le misure di sicurezza previste dal Codice privacy per proteggere i dati raccolti, al fine di scongiurare i rischi di perdita o furto dei dati, accessi non autorizzati, usi illeciti e non corretti.
                </p>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    Diritti degli interessati
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    Gli Utenti possono esercitare in qualsiasi momento i diritti previsti dall’art. 7 del Codice privacy, al fine di ottenere la conferma dell'esistenza o meno dei loro dati personali e di conoscerne il contenuto e l'origine, verificarne l'esattezza o chiederne l'integrazione o l'aggiornamento, oppure la rettificazione. Ai sensi della medesima disposizione l’Utente potrà inoltre chiedere la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, nonché opporsi in ogni caso, per motivi legittimi, al loro trattamento. Le richieste vanno rivolte all’Ing. Mario Terranova in qualità di Responsabile del trattamento mediante i seguenti recapiti: info@agid.gov.it (link sends e-mail). Attraverso i medesimi recapiti, l’Utente potrà chiedere inoltre la lista aggiornata di tutti i Responsabili del trattamento nominati dal Titolare.
                </p>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    Aggiornamenti
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    La Privacy Policy di questo Sito è soggetta ad aggiornamenti; gli Utenti sono pertanto invitati a verificarne periodicamente il contenuto.
                </p>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    Note Legali
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    Spid.gov.it è un sito che contiene informazioni sul Sistema Pubblico di Identità Digitale ed è gestito dall'Agenzia per l'Italia Digitale.
                </p>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    Copyright
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    La titolarità di tutti i documenti e contenuti (testi, presentazioni, immagini, foto, video, ecc.) è dell'Agenzia per l'Italia Digitale.<br>
                    La visualizzazione, il download e qualunque utilizzo dei dati pubblicati sul Sito comporta accettazione delle presenti note legali e delle condizioni della licenza con cui sono pubblicati.<br>
                    <br>
                    Salvo ove diversamente indicato, i contenuti pubblicati sul presente sito  sono messi a disposizione con licenza CC-BY 3.0, il cui testo integrale è disponibile al seguente indirizzo: <a href="http://creativecommons.org/licenses/by/3.0/it/legalcode">http://creativecommons.org/licenses/by/3.0/it/legalcode</a><br>
                    <br>
                    Questo significa che, ove non diversamente specificato, i contenuti di questo sito sono liberamente distribuibili e riutilizzabili, a patto che sia sempre citata la fonte e – ove possibile - riportato l'indirizzo web della pagina originale.
                </p>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    Utilizzo del sito e download
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    L'Agenzia per l'Italia Digitale si impegna costantemente per assicurare la qualità delle informazioni pubblicate sul sito, nonché la loro integrità, aggiornamento , completezza, tempestività , semplicità di consultazione e accessibilità.<br>
                    <br>
                    Per qualunque segnalazione o suggerimento è possibile scrivere all’indirizzo info@agid.gov.it.<br>
                    <br>
                    In nessun caso l'Agenzia per l'Italia Digitale può essere ritenuta responsabile dei danni di qualsiasi natura causati direttamente o indirettamente dall'accesso al sito, dall'incapacità o impossibilità di accedervi.<br>
                    <br>
                    L'Agenzia per l'Italia Digitale, inoltre, non potrà essere ritenuta in alcun modo responsabile per i servizi di connettività utilizzati dagli Utenti per l’accesso al Portale.<br>
                    <br>
                    I documenti presenti in questo sito per lo scaricamento (download), salvo diversa indicazione, sono liberamente e gratuitamente disponibili, in caso contrario viene prodotto un avviso come premessa nell'uso degli stessi.
                </p>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    Accesso a siti esterni collegati
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    I collegamenti a siti esterni, indicati nel presente sito, sono forniti come semplice servizio agli utenti, con esclusione di ogni responsabilità sulla correttezza e sulla completezza dell’insieme dei collegamenti indicati.<br>
                    <br>
                    L’indicazione dei collegamenti non implica da parte dell'Agenzia per l'Italia Digitale non comporta alcun tipo di approvazione o condivisione di responsabilità in relazione alla legittimità, alla completezza e alla correttezza delle informazioni contenute nei siti indicati.
                </p>
            </div>
        </section>
    </div>
</div>
